<!DOCTYPE html>
<html lang="es" class="h-100" data-bs-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ColisseumFit - Gym Kiosk</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/style.css" />

    <script src="/js/bootstrap.min.js" defer></script>
    <script src="/js/theme.js" defer></script>
</head>

<body class="d-flex flex-column h-100">
<header class="text-white border-gym shadow-sm pb-5" style="background-color: #003173;">
    <nav class="navbar navbar-dark py-3">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="/" class="navbar-brand text-decoration-none">
                <div class="d-flex align-items-center">
                    <img src="/img/logo-border.png" alt="ColisseumFit Logo" style="height: 10vh;"
                         class="d-inline-block align-top me-3" />
                    <div class="d-flex flex-column">
                        <div class="fw-bold fs-4 lh-1 text-uppercase tracking-wider border-2">
                            <span class="text-primary">Colisseum</span><span style="color: #fd7e14;">Fit</span>
                        </div>
                        <span class="brand-subtitle fw-semibold mt-1 text-uppercase text-light" style="letter-spacing: 1px;">Gym Kiosk</span>
                    </div>
                </div>
            </a>

            <div class="d-flex align-items-center text-light m-0">
                <span class="me-2 fs-5">☀️</span>
                <div class="form-check form-switch p-0 m-0 d-flex align-items-center">
                    <input class="form-check-input m-0 float-none" type="checkbox" id="themeToggle" role="switch" style="cursor: pointer;">
                </div>
                <span class="ms-2 fs-5">🌒</span>
            </div>
        </div>
    </nav>
</header>