<%- include('../partials/header') %>

<main class="container py-5">
    <h2>Catálogo de Productos</h2>
    <p>Bienvenido de vuelta, <strong><%= cliente %></strong></p>
</main>

<%- include('../partials/footer') %>